
<div style="margin: 5% 15%;background-color: #F26925;padding: 3%;border-radius: 10px;color:white;">
    <h3 style= "text-align: center;">Create a new password</h3><br>    
    <div style="text-align: center; margin-bottom: 5%;"  class="login">    
        <label>
            <b>
                Password      
            </b>    
        </label> 
        <br>   
        <input type="password"  id="password" placeholder="password">    

        <br>
        <br>    
        <label>
            <b>
                Confirm Password     
            </b>    
        </label>
        <br>    
        <input type="password"  id="password" placeholder="password">    

        <br>
        <br>    
</div>