
<div style="margin: 2% 10%;border-left: #474C55 solid 3px;border-right: #474C55 solid 3px;">
       <div style="background-color: #FCB414;margin: 1% 5% 1% 5%;border-radius: 10px;color: #474C55;">
              <h1 style="padding: 3% 3% 3% 2%;"><span>{{user.firstName}}</span> <br> <span>{{user.lastName}}</span></h1>
       </div>
       <hr style="border-top: 1px dashed black;margin: 0% 5%;">
       <div style="margin: 1% 5%;color:white;">
              <div class="row align-items-start">
                     <div class="col" >
                            <div style="background-color: #F26925; padding: 3%;border-radius: 10px;">
                                   <h3>Revature Information</h3>
                            Title:
                            <span>{{user.title}}</span>
                            <br>
                            Revature Join Date: <span *ngIf="user.revatureJoinDate"> {{(user.revatureJoinDate | newDate)}}</span>
                            <br>
                            Birthday: <span *ngIf="user.birthday"> {{(user.birthday | newDate)}}</span>
                            <br>
                            Location:
                            <span>{{user.location}}</span>
                            </div>

                     </div>
                     <div class="col" style="height: 100%;">
                            <div style="background-color: #F26925;padding: 3%;border-radius: 10px;">
                                   <h3>Contact</h3>
                            Email:
                            <span>{{user.email}}</span>
                            <br>
                            GitHub username:
                            <span> {{user.githubUsername}}</span>
                            <br>
                            <br>
                            <br>
                            </div>
                     </div>
              </div>
       </div>
       <br>
       <br>
       <div style="margin: 1% 5%;background-color: #F26925;padding: 3%;border-radius: 10px;color:white;">
              <h3 style="font-style: italic;">About Me</h3>
              <p>
                     {{user.aboutMe}}
              </p>
       </div>
       <div style="margin: 1% 5%;background-color: #F26925;padding: 3%;border-radius: 10px;">
              <h1 style="text-align: center;color:white;">Posts</h1>
       </div>
       <div *ngIf="userSame">
       <button class="followButton btn-6" (click)='follow()'><span>{{followExists ? 'Follow':'Unfollow'}}</span></button>
       </div>
</div>