<div >
    <h1 id="Header" style="  text-align: center; ;">Welcome To RevSpace</h1>
  </div>
 

    <h3 style= "text-align: center;">Login with registered email</h3><br>    
    <div style="text-align: center; margin-bottom: 5%;"  class="login">    
    <form id="login" method="get" action="login.php">    
        <label>
            <b>
                Email      
            </b>    
        </label> 
        <br>   
        <input style="border:5px solid#F26925; background-color: #bbdefb;" type="text"  id="email" placeholder="Email@revature.net">    
        <br>
        <br>    
        <label>
            <b>
                Password     
            </b>    
        </label>
        <br>    
        <input style="border:5px solid#F26925; background-color: #bbdefb;" type="Password"  id="password" placeholder="Password">    
        <br>
        <br>    
        <input  style="background-color: #F26925; color: white;" type="button" id="login" value="Log In >">       
        
        <input style="background-color: #F26925; color: white;" type="button" id="register" value="Register >">    
      
