<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
 
<!-- Create A Post Form -->
<div class="container">
    <div class="main">
       
    <div class="main_post">
        
        <br>
        <form>
            <textarea rows="" column="" name ="body" value="body" [(ngModel)] = "body" (click)="expand()" placeholder="Hey, whats on your mind?" autocomplete="on" accept="image/*">
            </textarea>
            
            
        <div *ngIf="expandThis">
            <div *ngIf="show">
                <img class="fitImg" [src]="urlLink">
            </div>
          
                <!-- CODE FOR IMGBB -->
                <input type="file" style="display:none" (input)="onInput($event)" #fileInput autocomplete="false">
                <button  type="button" (click)="fileInput.click()">
                        <img class="image" alt="photo" src="/assets/postimage/photo1.png"/>
                </button>
                 

                <!-- CODE FOR ADD POST -->
                <button id="createPostBtn" (click)="createPost()" class="postbtn">
                    <i class="fas fa-plus"></i>
                </button>
        </div>

        </form>

    </div>
    </div>
</div>