*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", "Arial Narrow";
}

form{
    min-height: 50px;
    color: #ecf0f1;
    padding: 15px 10px 5px 10px;
    box-shadow: 3px 5px 15px -5px black;
    border-radius: 10px;
    position: relative;
}

.main_post{
    width: 500px;
    padding: 15px 10px 5px 10px;
    margin: 20px auto;
}

.post {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

.btn {
    position: relative;
    float:right;
    margin-right:10px;
    color: #f4b400;
    border:none;
    width: 50px;
    height: 50px;
    background: transparent;
    cursor:pointer;
    outline:none;
    box-shadow: 3px 3px 15px -10px rgba(0,0,0,0);
    border-radius: 50%;
}

textarea {
    width: 100%;
    line-height: 30px;
    background: transparent;
    border:none;
    outline: none;
    font-size: 1rem;
    margin: 10px 0;
}

input title {
    border:none;
}

