<div id="change-password" style="margin: 2% 10%;border-left: #474C55 solid 3px;border-right: #474C55 solid 3px;">
    <div style="margin: 5% 15%;background-color: #F26925;padding: 3%;border-radius: 10px;color:white;">
        <form [formGroup]="passwordForm">
            <h3 style="text-align: center;">Change password</h3><br>
            <div style="text-align: center; margin-bottom: 5%;" class="login">
                <label>
                    <b>
                        Old Password
                    </b>
                </label>
                <br>
                <input type="password" id="oldPassword" placeholder="Old Password" formControlName="oldPassword">
                <br><br>
                <label>
                    <b>
                        New Password
                    </b>
                </label>
                <br>
                <input type="password" id="password" placeholder="New password" formControlName="newPassword">

                <br>
                <br>
                <label>
                    <b>
                        Confirm Password
                    </b>
                </label>
                <br>
                <input type="password" id="cpassword" placeholder="Confirm password" formControlName="confirmPassword">
                <span *ngIf = "password != cpassword; differentPasswords">{{differentPasswords}}</span>
                <br>
                <br>
            </div>
        </form>
        <button class="btn btn-success" (click)="submitPassword(passwordForm)">Submit</button>
    </div>
</div>