

.invalid-login-div {
    color: brown;
    font-style: bold;
    font-size: large;
}

#email{
    border-radius: 5px;
    border: solid#F26925; 
    background-color: #bbdefb;
}
#password{
    border-radius: 5px;
    border:solid#F26925; background-color: #bbdefb;
}
#login{
    border-radius: 5px;
    background-color:#F26925; color: white;
    margin: 5px;
    box-shadow: none;
}
.rev{
    background-color:#F26925
}