/* You can add global styles to this file, and also import other style files */
/* html {background-color: rgb(255, 255, 255);}



body {
    background-color: black;
}
body.dark-theme {
    background-color: #ff0000;
  
  }
  */