/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Revature-Bold';
    src: url('assets/fonts/Futura-Std-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Revature-Book';
    src: url('assets/fonts/Futura-Std-Book.otf') format('opentype');
}

@font-face {
    font-family: 'Revature-Medium';
    src: url('assets/fonts/Futura-Std-Medium.otf') format('opentype');
}

h1 {
    font-family: 'Revature-Bold', Fallback, sans-serif !important;
}

h2 {
    font-family: 'Revature-Book', Fallback, sans-serif !important;
}

h3 {
    font-family: 'Revature-Medium', Fallback, sans-serif !important;
}
