<nav class="navbar navbar-expand-lg navbar-light "
  style="padding: 1% 2%; background-color: #B9B9BA;font-family: Futura-Std-Book;">

  <div class="container-fluid" style="color: black;">
    <a class="navbar-brand" routerLink="postfeed" href="" style="font-weight: bold;"><img alt="image"
        src="./assets/img/revaturelogo.png" height="40" width="auto"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="isLoggedIn()" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" style="margin:10px;">
          <a class="nav-link active" routerLink="postfeed">Post Feed</a>
        </li>
      </ul>


      <div class="center">
        <app-search-bar></app-search-bar>
      </div>

      <!-- if user is logged in this will disabled -->
      <!--drop down for user profile-->
      <div class="dropdown" style="margin-right: 2%;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          Hello, {{getUserName()}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" [routerLink]="['/viewprofile', getUserId()]">View Your Profile</a></li>
          <li><a class="dropdown-item" [routerLink]="['/editprofile']">Edit Your Profile</a></li>
          <li><a class="dropdown-item" [routerLink]="['/changePassword']">Change Password</a></li>
          <li><a class="dropdown-item" href="index.html">Logout</a></li>
        </ul>
      </div>

    </div>

  </div>
</nav>
<app-login *ngIf="!isLoggedIn()"></app-login>
<router-outlet *ngIf="isLoggedIn()"></router-outlet>

<app-top style="position: sticky; left: 90%; top: 90%;"></app-top>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->