.nav-link:hover {
    background-color: #F26925;
    border-radius: 5px;
    color: white !important;
}
.dropdown-toggle:hover {
    background-color: #F26925;
    border-radius: 5px;
}
.fullContents {
<<<<<<< HEAD
    background-color: #FFFFFF;
<<<<<<< HEAD

=======
=======
    background-color: #93C5E3;
>>>>>>> 1f895cb341ca75deccc5359baf05493d6926e6a5
>>>>>>> e470969b9f75494a0c6d2550a207b3baa8ec9785
}