<p>edit-user-profile works!</p>

<div>


    <!-- first_name varchar(50) not null -->
    <label for="edit-user-first-name-input"> Name: </label>  <br>
    <input id="edit-user-first-name-input" type="text" maxlength="50" [(ngModel)]="firstNameInput">
    <br>

    <!-- last_name varchar(50) not null -->
    <label for="edit-user-last-name-input"> Name: </label> <br>
    <input id="edit-user-last-name-input" type="text" maxlength="50" [(ngModel)]="lastNameInput">
    <br>

    <!-- title varchar(100) not null default '' -->
    <label for="edit-user-title-input"> Title: </label> <br>
    <input id="edit-user-title-input" type="text" maxlength="100" [(ngModel)]="titleInput">
    <br> 

    <!-- github_username varchar(50) not null default '' -->
    <label for="edit-user-github-username-input"> Github username: </label> <br>
    <input id="edit-user-github-username-input" type="text" maxlength="50" [(ngModel)]="githubUsernameInput">
    <br>

    <!-- revature_join_date bigint default null -->
    <label for="edit-user-join-date-input"> Revature Join Date: </label> <br>
    <input id="edit-user-join-date-input" type="date" min="2003-01-01" max={{currentDateString}} [ngModel]="joinDateInput | date: 'yyyy-MM-dd'" (ngModelChange)="joinDateInput = $event"> 
    <br>                                                                                    

    <!-- location varchar(500) not null default '' -->
    <label for="edit-user-location-input"> Location: </label> <br>
    <textarea id="edit-user-location-input" type="text" maxlength="500" [(ngModel)]="locationInput"> </textarea>
    <br>

    <!-- aboutme varchar(1000) not null default '' -->
    <label for="edit-user-aboutme-input"> About Me: </label> <br>
    <textarea id="edit-user-aboutme-input" type="text" maxlength="1000" [(ngModel)]="aboutMeInput"> </textarea>
    <br>

    <!-- birthday bigint default null -->
    <label for="edit-user-birthday-input"> Birthday </label> <br>
    <input id="edit-user-birthday-input"  type="date" min={{minimumBirthdayString}} max={{currentDateString}} [ngModel]="birthdayInput | date: 'yyyy-MM-dd'" (ngModelChange)="birthdayInput = $event">
    <br>


    <button id="edit-user-accept-changes-button" (click)="confirmUpdateProfile()"> Accept changes </button>
    <button id="edit-user-cancel-changes-button" (click)="cancelUpdateProfile()"> Cancel changes </button>

    <button id="test-button" (click)="alertLeavingEditScreen()"> Leave </button>

</div>










