
<div id="edit-user-profile-div" style="margin: 2% 10%;border-left: #474C55 solid 3px;border-right: #474C55 solid 3px;">
    <h1 style="text-align: center;">Profile</h1> 
    <button class="btn btn-dark" id="edit_profile" (click)="toggleEdit()"><i class="fa fa-pencil"></i></button>
    <div style="margin: 2% 5% 2% 5%;">
        <div class="row align-items-start" style="background-color: #FCB414;border-radius: 10px;padding: 2%;margin: 2% 0%;">
            <div class="col">
                    <!-- first_name varchar(50) not null -->
                <label for="edit-user-first-name-input"> <b>First name:</b> </label>  <br>
                <label *ngIf="isViewable">{{currentUser.firstName}}</label>
                <input *ngIf="isEditable" class="form-control" id="edit-user-first-name-input" type="text" maxlength="50" size="70" [placeholder]="currentUser.firstName" [(ngModel)]="firstNameInput">
                <br>
                <span *ngIf="firstNameInput.length > 45" style="color:red"> First Name has a character limit of 50 ({{firstNameInput.length}}/50) <br></span>   

                <!-- last_name varchar(50) not null -->
                <label for="edit-user-last-name-input"> <b>Last name:</b> </label> <br>
                <label *ngIf="isViewable">{{currentUser.lastName}}</label>
                <input *ngIf="isEditable" class="form-control" id="edit-user-last-name-input" type="text" maxlength="50" size="70" [placeholder]="currentUser.lastName" [(ngModel)]="lastNameInput">
                <br>
                <span *ngIf="lastNameInput.length > 45" style="color:red"> Last Name has a character limit of 50 ({{lastNameInput.length}}/50) <br></span>   
                </div>
            <div class="col"></div>
        </div>
        <hr style="border-top: 1px dashed black;margin: 0% 0%;">
        <!-- title varchar(100) not null default '' -->
        <div class="row align-items-start" style="border-radius: 10px;margin: 0% 0%;" >
            <div class="col" style="background-color: #F26925;border-radius: 10px; padding: 2%; margin: 2% .5% 2% 0%;color: white;">
                <h3>Revature Information</h3>
                <label for="edit-user-title-input"> <b>Title:</b> </label> <br>
                <label *ngIf="isViewable">{{currentUser.title}}</label>
                <input *ngIf="isEditable" class="form-control" id="edit-user-title-input" type="text" maxlength="100" size="140" [placeholder]="currentUser.title" [(ngModel)]="titleInput">
                <br> 
                <span *ngIf="titleInput.length > 90" style="color:black;font-weight: bold;font-style: italic;"> Title has a character limit of 100 ({{titleInput.length}}/100) <br></span>   

                <!-- revature_join_date bigint default null  -->
                <label for="edit-user-join-date-input"> <b>Revature Join Date:</b> </label> <br>
                <label *ngIf="isViewable">{{currentUser.revatureJoinDate | newDate}}</label>
                <input *ngIf="isEditable" class="form-control" id="edit-user-join-date-input" type="date" [ngModel]="joinDateInput | date: 'yyyy-MM-dd'" [placeholder]="currentUser.revatureJoinDate" (ngModelChange)="joinDateInput = $event"> 
                <br>
                <span *ngIf="joinDateLimitWarning" style="color:black;font-weight: bold;font-style: italic;"> Revature Join Date must be between 2003 and the present! <br></span> 

                <!-- birthday bigint default null   -->
                <label for="edit-user-birthday-input"> <b>Birthday</b> </label> <br>
                <label *ngIf="isViewable">{{currentUser.birthday | newDate}}</label>
                <input *ngIf="isEditable" class="form-control" id="edit-user-birthday-input"  type="date" [ngModel]="birthdayInput | date: 'yyyy-MM-dd'" [placeholder]="currentUser.birthday" (ngModelChange)="birthdayInput = $event">
                <br>
                <span *ngIf="birthdayLimitWarning" style="color:black;font-weight: bold;font-style: italic;"> Birthday must be within 125 years ago and the present! <br></span>   

                <!-- location varchar(500) not null default '' -->
                <label for="edit-user-location-input"> <b>Location: </b> </label> <br>
                <label *ngIf="isViewable">{{currentUser.location}}</label>
                <input *ngIf="isEditable" class="form-control" id="edit-user-location-input" type="text" maxlength="500" rows="7" cols="100" [placeholder]="currentUser.location" [(ngModel)]="locationInput"> 
                <span *ngIf="locationInput.length > 475" style="color:black;font-weight: bold;font-style: italic;"> Location has a character limit of 500 ({{locationInput.length}}/500) <br></span>
            </div>
            <div class="col" style="background-color: #F26925;border-radius: 10px; padding: 2%; margin: 2% 0% 2% .5%;color: white;">
                <h3>Contact</h3>
                <!-- github_username varchar(50) not null default '' -->
                <label for="edit-user-github-username-input"> <b>Github Username:</b> </label> <br>
                <label *ngIf="isViewable">{{currentUser.githubUsername}}</label>
                <input *ngIf="isEditable" class="form-control" id="edit-user-github-username-input" type="text" maxlength="50" size="70" [placeholder]="currentUser.githubUsername" [(ngModel)]="githubUsernameInput">
                <br>
                <span *ngIf="githubUsernameInput.length > 45" style="color:black;font-weight: bold;"> Github Username has a character limit of 50 ({{githubUsernameInput.length}}/50) <br></span>   
                <p *ngIf="githubUsernameInput.length > 0"> Test Github Profile Link: <a href="https://github.com/{{githubUsernameInput}}" target="_blank"> https://github.com/{{githubUsernameInput}} </a></p>
                <br>
                <br>
                <br>
                <span><b>Email: </b>  {{currentUser.email}}</span>
                <br>
                <br>
                <br>
            </div>
        </div>   
        
        <div style="background-color: #F26925;border-radius: 10px;padding: 2%;color: white;">
            <!-- aboutme varchar(1000) not null default '' -->
            <h3 style="font-style: italic;">About me</h3>
            <div style="margin: 1% 1%;">
                <p *ngIf="isViewable">{{currentUser.aboutMe}}</p>
                <textarea *ngIf="isEditable" class="form-control" id="edit-user-aboutme-input" type="text" maxlength="1000" rows="12" cols="100" [(ngModel)]="aboutMeInput"> </textarea>
            </div>
            <br>
            <span *ngIf="aboutMeInput.length > 475" style="color:black;font-weight: bold;font-style: italic;"> About Me has a character limit of 1000 ({{aboutMeInput.length}}/1000) <br></span>   

        <button *ngIf="isEditable" style="margin: .5%;" type="button" class="btn btn-success" id="edit-user-accept-changes-button" (click)="confirmUpdateProfile()"> Accept changes </button>
        <app-leaving-edit-alert *ngIf="isEditable"></app-leaving-edit-alert>
        <span *ngIf="updateFailWarning" style="color:red"> Something isn't working correctly - please try again later <br></span> 
    </div>
</div>
