
.time {
    font-size: 9px !important
}

.socials i {
    margin-right: 14px;
    font-size: 17px;
    color: #d2c8c8;
    cursor: pointer
}

.feed-image img {
    width: 100%;
    height: auto
}

.postButton:hover {
    background-color: rgb(115, 165, 194);
    border-radius: 10%;
}

.postButton {

    margin-left: 25px;
    margin-right: 25px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

.commentButton:hover {
    background-color: rgb(115, 165, 194);
    border-radius: 10%;
}

.commentButton {

    cursor: pointer;
}

body {
    background-color: white;
    font-family: Futura-Std-Book;
    font-weight: 300
}
















