<button type="button" data-bs-toggle="modal" data-bs-target="#resetPassword"
    style="background-color: #F26925; color: white; border-radius: 5px; margin: 5px;">
    Forgot my Password
</button>

<div class="modal fade" id="resetPassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Forgot My Password to RevSpace</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="passwordForm">
                    <h3 style="text-align: center;">Create a new password</h3><br>
                    <div style="text-align: center; margin-bottom: 5%;" class="login">
                        <label>
                            <b>
                                Email
                            </b>
                        </label>
                        <br>
                        <input type="text" id="email" placeholder="XXX@revature.net" formControlName="email">

                        <br>
                        <br>
                        <label>
                            <b>
                                New Password
                            </b>
                        </label>
                        <br>
                        <input type="password" id="password" placeholder="New password" formControlName="newPassword">

                        <br>
                        <br>
                        <label>
                            <b>
                                Confirm Password
                            </b>
                        </label>
                        <br>
                        <input type="password" id="cpassword" placeholder="confirm password"
                            formControlName="confirmPassword">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="close btn btn-primary"
                    (click)="submitPassword(passwordForm)">Submit</button>
            </div>
        </div>
    </div>
</div>